---
import Navbar from "@components/Navbar.astro";
import Layout from "@layouts/Layout.astro";
import Principal from "@components/Principal.astro";
import Projects from "@components/Projects.astro";
import About from "@components/About.astro";
import Footer from "@components/Footer.astro";
import Experience from "@components/Experience.astro";
---

<Layout
  title="Codeamus | Desarrollo de Apps y Web con React, Astro y React Native"
  description="En Codeamus, con más de 8 años de experiencia, me especializo en el desarrollo de aplicaciones web y móviles. Con un enfoque en React JS, Astro y React Native, ayudo a digitalizar tus ideas para alcanzar un mercado global. Mi fuerte son las habilidades blandas y la colaboración para convertir tu visión en realidad."
>
  <Navbar />
  <main>
    <Principal />
    <Projects />
    <About />
    <Experience />
  </main>
  <Footer />
</Layout>
