---
import Navbar from "@components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Principal from "@components/Principal.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <main>
    <Principal />
    <section>PROYECTOS</section>
    <section>SOBRE MI</section>
    <section>CONTACTO</section>
  </main>
</Layout>
