---
import { Image } from "astro:assets";
import ProfilePicture from "@assets/img/about-me.webp";
// ICONS SKILLS
import IconJavaScript from "@assets/icons/javascript.astro";
import IconTypeScript from "@assets/icons/typescript.astro";
import IconTailwind from "@assets/icons/tailwind.astro";
import IconAstro from "@assets/icons/astroIcon.astro";
import IconWordPress from "@assets/icons/wordpress.astro";
import IconPHP from "@assets/icons/php.astro";
import IconMysql from "@assets/icons/mysql.astro";
import IconReact from "@assets/icons/react.astro";
import IconFigma from "@assets/icons/figma.astro";
import IconVite from "@assets/icons/vite.astro";
import IconRedux from "@assets/icons/redux.astro";
import IconExpo from "@assets/icons/expo.astro";
import IconApple from "@assets/icons/apple.astro";
import IconAndroid from "@assets/icons/android.astro";

const skills = [
  { component: IconJavaScript, alt: "JavaScript" },
  { component: IconTypeScript, alt: "TypeScript" },
  { component: IconReact, alt: "React" },
  { component: IconExpo, alt: "Expo" },
  { component: IconApple, alt: "Apple" },
  { component: IconAndroid, alt: "Android" },
  { component: IconRedux, alt: "Redux" },
  { component: IconAstro, alt: "Astro" },
  { component: IconTailwind, alt: "Tailwind" },
  { component: IconPHP, alt: "PHP" },
  { component: IconWordPress, alt: "WordPress" },
  { component: IconMysql, alt: "MySQL" },
  { component: IconFigma, alt: "Figma" },
  { component: IconVite, alt: "Vite" },
];
---

<section
  id="sobre-mi"
  class="flex flex-row items-center justify-between gap-8 px-10 py-20 md:px-20 xl:px-72"
>
  <div class="hidden lg:block">
    <Image
      class="aspect-square rounded-xl shadow-md"
      src={ProfilePicture}
      alt="Imagen de perfil de Matias, programando en un macbook"
    />
  </div>
  <div>
    <h2
      class="mb-5 w-fit border-b-4 border-solid border-b-[#7477FF] text-2xl font-bold text-white"
    >
      Sobre Mí
    </h2>
    <p class="text-md my-3 text-pretty text-white">
      Soy Alexander pero la gente mas cercana me dice Matias (mi segundo
      nombre), apasionado por crear soluciones tecnológicas innovadoras. Mi
      carrera ha estado marcada por proyectos desafiantes y gratificantes.
    </p>
    <p class="text-md my-3 text-pretty text-white">
      Uno de mis logros más significativos ha sido desarrollar la comunicación
      entre la app Coopeuch y Passcoopeuch, facilitando transacciones seguras y
      eficientes. Este proyecto resalta mi habilidad para integrar sistemas
      complejos de manera exitosa.
    </p>
    <p class="text-md my-3 text-pretty text-white">
      Poseo una sólida experiencia en el desarrollo de aplicaciones y la
      integración de sistemas. Si buscas un profesional dedicado y creativo para
      tu próximo proyecto, ¡no dudes en contactarme! Juntos podemos llevar tus
      ideas al siguiente nivel.
    </p>

    <section>
      <h3 class="text-lg mt-5 font-bold text-white">
        Tecnologías con las que he trabajado
      </h3>
      <div class="mt-5 grid grid-cols-7 place-content-center gap-6">
        {
          skills.map(({ component: Icon, alt }) => (
            <Icon
              className="size-8 brightness-75 transition-all duration-300 hover:scale-105 hover:brightness-100"
              aria-label={alt}
            />
          ))
        }
      </div>
    </section>
  </div>
</section>
