<section id="contact" class="bg-[#1E293B] px-10 py-20 md:px-20 xl:px-72">
  <h2
    class="mb-5 w-fit border-b-4 border-solid border-b-[#7477FF] text-center text-2xl font-bold text-white"
  >
    Contacto
  </h2>
</section>
