<section
  id="experiencia"
  class="flex flex-col justify-between gap-8 bg-[#1E293B] px-10 py-20 md:px-20 xl:px-72"
>
  <h2
    class="mb-5 w-fit border-b-4 border-solid border-b-[#7477FF] text-2xl font-bold text-white"
  >
    Experiencia Laboral
  </h2>
  <div>
    <ol class="relative ml-3 border-s border-[#7477FF]">
      <li class="mb-10 ms-4">
        <div
          class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-[#7477FF] bg-[#7477FF]"
        >
        </div>
        <time class="mb-1 text-sm font-normal leading-none text-white"
          >Ago 2021 - Actual</time
        >
        <h3 class="text-lg mt-2 font-semibold text-zinc-300 dark:text-gray-200">
          Software Developer - Apiux Tecnología (Coopeuch)
        </h3>
        <p class="text-md text-pbalancefont-normal mb-4 dark:text-gray-200">
          En mi actual puesto en Coopeuch, me he especializado en el desarrollo
          con React Native. Este rol ha sido una oportunidad única para expandir
          mis habilidades, especialmente en el ámbito de las aplicaciones
          móviles.
        </p>
        <p class="text-md text-pbalancefont-normal mb-4 dark:text-gray-200">
          He potenciado significativamente mi perfil profesional al adquirir
          conocimientos en metodologías ágiles. Trabajar en base a sprints y la
          interacción continua con el Product Owner y el Scrum Master me han
          permitido comprender y aplicar estos enfoques eficientemente. Estas
          experiencias han enriquecido mi capacidad de trabajar en equipo y
          adaptarme a entornos dinámicos.
        </p>
        <p class="text-md mb-4 text-balance font-normal dark:text-gray-200">
          Además, he desarrollado aún más mis habilidades técnicas en el mundo
          del desarrollo de aplicaciones. Importante también ha sido la
          oportunidad de enseñar y capacitar a mis compañeros, lo que refleja un
          avance significativo en mis habilidades blandas.
        </p>
        <li class="mb-10 ms-4">
          <div
            class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-[#7477FF] bg-[#7477FF]"
          >
          </div>
          <time class="mb-1 text-sm font-normal leading-none text-white"
            >Feb 2019 - Jul 2021</time
          >
          <h3
            class="text-lg mt-2 font-semibold text-zinc-300 dark:text-gray-200"
          >
            Full Stack Developer - Raya
          </h3>
          <p class="text-md mb-4 text-balance font-normal dark:text-gray-200">
            En Raya, mi crecimiento profesional se enfocó en habilidades blandas
            y tecnologías avanzadas. Interactuaba regularmente con clientes,
            interpretando sus necesidades y convirtiéndolas en especificaciones
            claras para proyectos.
          </p>
          <p class="text-md text-pbalancefont-normal mb-4 dark:text-gray-200">
            Paralelamente, me sumergí en tecnologías emergentes como React JS y
            Styled Components, lo que me permitió crear interfaces de usuario
            dinámicas y atractivas. También exploré herramientas de diseño como
            Figma y Photoshop, enriqueciendo mi enfoque en el diseño web.
          </p>
          <p class="text-md mb-4 text-balance font-normal dark:text-gray-200">
            Este período en Raya fue fundamental, combinando el desarrollo de
            habilidades técnicas y blandas, preparándome para afrontar desafíos
            más complejos en el futuro.
          </p>
        </li>
        <li class="mb-10 ms-4">
          <div
            class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-[#7477FF] bg-[#7477FF]"
          >
          </div>
          <time class="mb-1 text-sm font-normal leading-none text-white"
            >Feb 2016 - Feb 2019</time
          >
          <h3
            class="text-lg mt-2 font-semibold text-zinc-300 dark:text-gray-200"
          >
            Full Stack Developer - Cardumen Latam
          </h3>
          <p class="text-md mb-4 text-balance font-normal dark:text-gray-200">
            Mi primera experiencia laboral en el campo de desarrollo web fue en
            Cardumen LATAM, donde ocupé el puesto de Desarrollador Full Stack
            JR. Este rol fue una puerta de entrada para aprender y aplicar
            tecnologías de front-end y back-end.
          </p>
          <p class="text-md mb-4 text-balance font-normal dark:text-gray-200">
            En el front-end, me enfoqué en HTML, CSS, JavaScript y jQuery,
            creando interfaces de usuario interactivas y responsivas. Por el
            lado del back-end, desarrollé habilidades en PHP y MySQL,
            complementadas con el manejo de WordPress. Este conjunto de
            habilidades me permitió participar en proyectos variados, desde
            sitios de comercio electrónico hasta blogs corporativos.
          </p>

          <p class="text-md mb-4 text-balance font-normal dark:text-gray-200">
            Esta experiencia inicial en Cardumen LATAM fue fundamental para mi
            crecimiento profesional, proporcionándome una sólida base en
            desarrollo web Full Stack y preparándome para futuros desafíos en el
            sector tecnológico.
          </p>
        </li>
      </li>
    </ol>
  </div>
</section>
