---
const MENU_LINKS = [
  {
    name: "Sobre mi",
    href: "/",
  },
  {
    name: "Proyectos",
    href: "/",
  },
  {
    name: "Contacto",
    href: "/",
  },
  {
    name: "CV",
    href: "/",
  },
];
---

<nav
  class="flex flex-row items-center justify-between px-10 py-7 md:px-20 xl:px-72"
>
  <a class="text-xs font-bold text-[#fff]" href="/">{`<AMUSCODE/>`}</a>
  <ul class="flex flex-row gap-2">
    {
      MENU_LINKS.map((link) => (
        <li>
          <a
            class="rounded-md p-2 text-2xs uppercase text-[#fff] transition-all duration-300 hover:bg-[#7477FF] md:text-xs"
            href={link.href}
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
