---
const MENU_LINKS = [
  {
    name: "Proyectos",
    href: "/#projects",
  },
  {
    name: "Sobre mi",
    href: "/#me",
  },
  {
    name: "Contacto",
    href: "/#contact",
  },
  {
    name: "CV",
    href: "/",
  },
];

import { Image } from "astro:assets";
import Logo from "@assets/img/logos/logo.svg";
---

<nav
  class="flex flex-row items-center justify-between px-10 py-7 md:px-20 xl:px-72"
>
  <a
    class="text-xs font-bold text-[#fff]"
    href="/"
    aria-label="Link a la paÌgina principal del portafolio"
  >
    <Image
      class="transition-all duration-300 hover:scale-105"
      src={Logo}
      alt="Logo de AMUSCODE, el nombre de mi portafolio"
      width={120}
    />
  </a>
  <ul class="flex flex-row gap-2">
    {
      MENU_LINKS.map((link) => (
        <li>
          <a
            class="rounded-md p-2 text-2xs uppercase text-[#fff] transition-all duration-300 hover:bg-[#7477FF] md:text-xs"
            href={link.href}
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
