---
const MENU_LINKS = [
  {
    name: "Sobre mi",
    href: "http://",
  },
  {
    name: "Proyectos",
    href: "http://",
  },
  {
    name: "Contacto",
    href: "http://",
  },
  {
    name: "CV",
    href: "http://",
  },
];
---

<nav class="pt-7 pb-7 flex flex-row justify-between items-center">
  <a class="text-[#fff] text-xs" href="http://">A</a>
  <ul class="flex flex-row gap-2">
    {
      MENU_LINKS.map((link) => (
        <li>
          <a
            class="text-[#fff] text-2xs md:text-xs uppercase transition-all hover:bg-[#7477FF] rounded-md"
            href={link.href}
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
