---
import ProfilePicture from "@assets/img/profile.webp";
---

<section
  class="flex flex-col items-center justify-between gap-4 px-10 py-10 md:flex-row md:px-20 md:py-20 xl:px-72"
>
  <div class="flex w-full flex-col">
    <h1
      class="text-balance text-center font-pacifico text-4xl text-[#fff] lg:text-start lg:text-6xl"
    >
      Hola, Soy <span class="text-[#7477FF]">M</span>atias, <br /> Desarrollador
      de Software
    </h1>
    <p
      class="text-md my-8 max-w-lg text-balance text-center text-[#fff] lg:text-start"
    >
      Ocho años de experiencia, especializado en <span
        class="font-bold text-[#7477FF]">Frontend</span
      >. He entregado soluciones de alta calidad en entornos dinámicos.
    </p>
  </div>
  <div>
    <img
      class="aspect-[4/4.6] w-full max-w-[700px] rounded-xl shadow-md"
      src={ProfilePicture.src}
      alt="Imagen de perfil de Matias, tomando una taza de café"
    />
  </div>
</section>
